/**
 * Simple Cookie Notification Bar
 * Admin 
 * @since 1.0
 * @athor Lucy Tomás
 */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* @end */

.scnb-block span.note{
	font-size: 10px;

}

.scnb-block{
	
	margin:0px 0px 15px 0px;
}

.color-picker.hidden{
	display:none;
}

.scnb-block h3{

	margin:15px 0px 0px 0px;

}

.scnb-block p{
	display: block;
	float: left;
	margin-right: 20px;
}

.scnb-block p input[type=text]{
	width:100%;
}

.explanation{
	font-style:italic;
	font-size:15px;
}

.scnb-block p.XS{
	width:20%;
}

.scnb-block p.XS input{
	width:50px;
}

.scnb-block p.S{
	width:30%;
}

.scnb-block p.M{
	width:50%;
}

.scnb-block p.L{
	width:65%;
}

.scnb-block p.XL{
	width:97%;
}

@media only screen and (max-width: 1139px) {
	
	
}

@media only screen and (max-width: 1023px) {
	
	
}

@media only screen and (max-width: 767px) {
	
	.scnb-block p.default{
		float:none;
		width:100% !important;
		margin-right: 0px;
	}

}

/* Smartphones  */
@media only screen and (max-width : 480px) {

	.scnb-block p{
		float:none;
		width:100% !important;
		margin-right: 0px;
	}
	
	
}
